- content_for(:button_title, flush: true) do
  Subscriptions
  %small #{bill_period(:from)} - #{bill_period(:to)}

- content_for(:dropdown_amount, flush: true) do
  = currency(resource[:package][:total])

= render 'bill_section', id: 'subscription', target: 'subscriptions_expanded' do
  %table.table.subscriptions
    %caption This bill covers next months basic subscriptions
    - resource[:package][:subscriptions].each do |subscription|
      %tr
        %td.col-sm-3= subscription[:name]
        %td.col-sm-9
          .pull-right= currency(subscription[:cost])
    %tr
      %td
        %td
          %b.pull-right Subtotal #{currency(resource[:package][:total])}
