- content_for(:button_title, flush: true) do
  Sky TV Store
  %small.overview Rentals &amp; Purchases

- content_for(:dropdown_amount, flush: true) do
  = currency(rental_charge_total)

= render 'bill_section', id: 'tv_charges', target: 'tv_expanded' do
  %table.table.tv_charges
    %tr
      %th.col-sm-5 Title
      %th.col-sm-4
      %th.col-sm-3 Charge
    %caption Rentals &amp; Purchases
    - resource[:sky_store][:rentals].each do |rental|
      %tr
        %td.col-sm-5= rental[:title]
        %td.col-sm-4 Rental
        %td.col-sm-3= currency(rental[:cost])
    - resource[:sky_store][:buy_and_keep].each do |purchase|
      %tr
        %td.col-sm-5= purchase[:title]
        %td.col-sm-4 Purchase
        %td.col-sm-3.text-muted £0.00 (#{currency(purchase[:cost])} paid)
    %tr
      %td
      %td
      %td
        %b= currency(rental_charge_total)
